* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*NavBAR*/
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-family: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}

/* HOME SECTION */
#home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
    color: white;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(../img/back2.jpg) no-repeat center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main {
    display: flex;
    flex-direction: column;
    /*border: 1px solid white;*/
    align-items: center;
    position: absolute;
    top: 30%;
}

.headings {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 50px 0px;
    margin-top: 10px;
}

.btn {
    padding: 10px 35px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    outline: none;
    transition: .6s ease;
}

.btn:hover {
    cursor: pointer;
    background: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
}

/*About Section*/
#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}

#pic {
    display: flex;
}

#pic img {
    width: 250px;
    height: 200px;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}

.intro h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/*Skill Section*/
#skill {
    padding: 0px 20px;
}

.add {
    height: 100px;
}

/*code plateau section*/
#codeplateau {
    padding: 0px 20px;
}

/*contact section*/
#contact {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}

.input {
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#msg {
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send {
    padding: 10px;
    width: 10%;
    margin: 40px;
    border: none;
    outline: none;
}

#send:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px white;
}

/* Footer */
.footer {
    display: flex;
    box-sizing: border-box;
    background-color: rgba(76, 124, 238, 0.8);
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer .social-icon,
.footer .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.footer .social-icon li,
.footer .menu li {
    list-style: none;
}

.footer .social-icon li a,
.footer .menu li a {
    font-size: 2em;
    color: white;
    margin: 0px 10px;
    display: inline-block;
    transition: 0.5s;
}

.footer .social-icon li a:hover {
    transform: translate(-10px);
}

.footer .menu li a {
    font-size: 1.2em;
    color: white;
    margin: 0px 10px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.75;
}

.footer .menu li a:hover {
    opacity: 1;
}

.footer p {
    opacity: 0.75;
}